/*variables*/
$color-secundario: black;
$color-principal: white;
$tipo-de-fuente: "Orbitron",
sans-serif;
/*operacion*/
$tamaño-fuente: 200px;
$tamaño-padding: 10px;
$tamaño-heigth: 100px;
$tamaño-width: 100px;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0cap;
}

@import "nav";
@import "footer";
@import "header";

@mixin h3 {
  color: $color-secundario;
  font-family: $tipo-de-fuente;

  &.titulo_secciones {
    font-size: $tamaño-fuente/5;
    text-align: center;
    color: $color-principal;
    border-style: solid;
    width: 100%;
    margin-left: 10px;
    height: auto;
  }
}

a {
  text-decoration: none;
}

.sub_titulo {
  font-size: $tamaño-fuente/7;
  text-align: center;
  text-decoration: overline;
  background-color: $color-secundario;
}

body {
  background-color: $color-secundario;
}

/* grid areas */
#grilla {
  display: grid;
  grid-template-areas:
    "nav "
    "header "
    "productos "
    "footer ";
  grid-template-rows: 100px auto auto 160px;
  grid-template-columns: auto;
}

header {
  grid-area: header;
  margin: 20px;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

section {
  grid-area: productos;
}

section {
  div {
    h3 {
      @include h3;
    }

    img {
      &.img-fluid.d-block.mx-auto {
        width: auto;
        height: 500px;
      }
    }
  }
}

form {
  div {
    nav {
      display: flex;
      flex-direction: row;
      list-style: none;

      li {
        list-style: none;
      }
    }

    nav {
      input {
        background-color: lightblue;
        margin: 20px;
        padding: 10px;
        width: auto;
      }
    }
  }
}

// /* mediaqueries */
// @media (max-width: 990px) {
//   #grilla {
//     display: grid;
//     grid-template-areas:
//       "nav "
//       "header "
//       "productos "
//       "footer ";
//     grid-template-rows: 150px auto auto 160px;
//     grid-template-columns: auto;
//   }

//   header {
//     grid-area: header;
//   }

//   footer {
//     grid-area: footer;
//   }

//   nav {
//     grid-area: nav;
//   }

//   section {
//     grid-area: productos;
//   }

//   section {
//     div {
//       h3 {
//         @include h3;
//       }

//       img {
//         &.img-fluid.d-block.mx-auto {
//           width: auto;
//           height: 500px;
//         }
//       }
//     }
//   }

//   nav {
//     nav {
//       div {
//         background-image: url(../multimedia/imagenes/jirayu-koontholjinda-kOspnCw1yr4-unsplash.jpg);

//         nav {
//           div {
//             a {
//               img {
//                 // LOGO
//                 width: 100px;
//                 height: 100px;
//                 margin: 0%;
//                 padding: 0;
//               }
//             }
//           }
//         }

//         div {
//           div {
//             a {
//               &.nav-link {
//                 font-family: "Gill Sans", "Gill Sans MT", Calibri,
//                   "Trebuchet MS", sans-serif;
//                 font-size: 5px;
//                 color: red;
//                 background-color: black;
//                 border-radius: 10px;
//                 margin: 0px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

h1 {
  text-align: center;
  color: $color-principal;
}

h4 {
  color: $color-principal;
  font-family: $tipo-de-fuente;
  font-size: $tamaño-fuente/4;
  text-align: center;
  text-decoration: overline;
  background-position: center;
  margin: 50px;
  margin-bottom: 15px;
}

p.parrafo1 {
  color: $color-principal;
  text-align: center;
  font-size: $tamaño-fuente/7;
  text-decoration: overline;
  background-color: $color-secundario;
}